arrow==0.10.0
beautifulsoup4==4.5.3
disqus==0.0.4
Django==1.11
django-debug-toolbar==1.7
django-emoticons==1.2
django-forms-bootstrap==3.1.0
django-paypal==0.3.6
django-tinymce==2.6.0
olefile==0.44
Pillow==4.1.0
pkg-resources==0.0.0
python-dateutil==2.6.0
pytz==2017.2
requests==2.13.0
six==1.10.0
sqlparse==0.2.3
stripe==1.53.0
