<section class="thread">
    <header>
        <div class="table-responsive">
            <table class="table forum table-striped">
                <tr>
                    <td class="text-center">
                        <a href="{% url 'thread' thread.id %}">
                            <h4>{{ thread.name }} (at {{ thread.created_at }})</h4>
                            <p>This thread is available. Read all about it.</p>
                        </a>
                    </td>
                </tr>
            </table>
        </div>
    </header>
</section>